body{
    display: inline;;
}
h2{
    background-image: linear-gradient(90deg,#FC861F,#C4671B, #774314,#3E250B);
    color: #fff;
}
footer{
    background-image: linear-gradient(90deg,#FC861F,#C4671B, #774314,#3E250B);
    color: #fff;
}