@charset "UTF-8";

.Lato{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.primeira{
    font-family:"Fira Code",monospace;
    font-weight: 300;
    color:black;

}
.segunda{
    font-family:"Quicksand", sans-serif;
    font-weight: 300;
    color: black;

}
.terceira{
    font-family:"Bitcount Prop Single", system-ui;
    font-weight: 500;
    color: black;
}